.pokemon-list {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.pokemon-list li {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
}

.pokemon-list li a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: black;
    font-size: .8rem;
}

.pokemon-list li:hover {
    background: #000;
}

.pokemon-list li:hover a {
    color: #FFF;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    text-transform: capitalize;
    font-size: 3rem;
}