@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;

    display: flex;
    justify-content: center;
}

a {
    text-transform: capitalize;
    text-decoration: none;
}

.header {
    width: 100%;

    display: flex;
    justify-content: center;
}

.header li {
    padding: 1rem;
}

.header li:hover {
    background: black;
}

.header li a {
    color: black;
}

.header li:hover a {
    color: white;
}

ul {
    list-style: none;
}